:root {
  --Cyan: hsl(179, 62%, 43%);
  --Cyan-Opaque: hsl(179, 62%, 43%, 0.8);
  --Bright-Yellow: hsl(71, 73%, 54%);
  --Light-Gray: hsl(204, 43%, 93%);
  --Grayish-Blue: hsl(218, 22%, 67%);
}

* {
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
}

.boxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

h1 {
  color: var(--Cyan);
  font-weight: 700;
  font-size: 1.5em;
}

.community_box {
  background-color: #ffffff;
  padding-left: 40px;
  padding-top: 20px;
  border-radius: 8px;
}

.community_box h2 {
  color: var(--Bright-Yellow);
  font-weight: 400;
  font-size: 1.2em;
}

.community_box p {
  color: var(--Grayish-Blue);
  font-weight: 400;
  margin-bottom: 40px;
}

.sub_box {
  background-color: var(--Cyan);
  grid-column: 1;
  border-radius: 0px 0px 0px 8px;
  padding-left: 40px;
  padding-top: 25px;
}

.sub_box h2 {
  color: var(--Light-Gray);
  font-weight: 400;
  font-size: 1.2em;
}

.sub_box p {
  color: var(--Light-Gray);
  font-weight: 400;
}

.why_box {
  background-color: var(--Cyan-Opaque);
  grid-column: 2;
  border-radius: 0px 0px 8px 0px;
  padding-bottom: 30px;
}

.why_box h2 {
  color: var(--Light-Gray);
  font-weight: 400;
  font-size: 1.2em;
  padding-left: 40px;
  padding-top: 25px;
}

.why_box ul {
  color: var(--Light-Gray);
  font-weight: 400;
}

strong {
  font-weight: 90px;
}

button {
  background-color: var(--Bright-Yellow);
  color: white;
  border: none;
  border-radius: 6px;
  padding: 15px 92px;
  text-align: center;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  cursor: default;
}

button:hover {
  background-color: var(--Grayish-Blue);
  color: white;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 650px;
  margin: auto;
  margin-top: 25vh;
  box-shadow: 8px 6px 8px 8px rgba(0, 0, 0, 0.1), 8px 6px 8px 8px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

#price {
  font-weight: 700;
  font-size: 28px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* mobile devices only */
@media only screen and (max-width: 500px) {
  .boxes, .container {
    display: block;
  }

  .sub_box {
    border-radius: 0px;
    padding: 25px 0 30px 40px;
  }

  .why_box {
    border-radius: 0px 0px 8px 8px;
  }
}